*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    margin: 2% 4%;
    font-family: "Roboto";
    background: url(../images/backcover.svg) no-repeat;
    background-position: 40vw -25vh;
}
/* Navbar */
nav{
    display: flex;
    margin-top: 10px;
    justify-content: flex-start;
    height: 6vh;
    align-content: center;
    align-content: space-between;
}
nav img{
    cursor: pointer;
}
.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    flex: 1;
    margin-left: 10rem;
    align-content: space-between;
}
.nav-item{
    padding: 2px 20px;
    font-size: 14px;
    cursor: pointer;
}
.signin-btn{
    border: none;
    background-image: linear-gradient(to right, #a210e5, #bb38ea, #d155ef, #e56ff4, #f789fb);
    border-radius: 15px;
    padding: 0 0.8rem;
    text-align: center;
    font-family: "Roboto";
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}
.intro-section{
    display: flex;
    gap: 5rem;
}
/* Web Design */
.left-section{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    margin: 6% 0;
}
.left-section h1{
    font-size: 4.5rem;
    color: #4d0169;
    font-family: "Roboto";
    padding: 60px 0;
}
.left-section h4{
    font-size: 1rem;
    padding-left: 8px;
    width: 50%;
}
.learn-more-btn{
    border: none;
    background-image: linear-gradient(to right, #a210e5, #bb38ea, #d155ef, #e56ff4, #f789fb);
    border-radius: 20px;
    padding: 15px 35px;
    margin-top: 6%;
    font-family: "Roboto";
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    width: 30%;
}
/* Images CSS */
.imgs-div{
    width: 50%;
    position: relative;
    right: 5rem;
    top: 2rem;
}
/* Big Image */
.imgs-div img:last-child{
    width: 45vw;
}
.vector-img{
    position: absolute;
    top: 420px;
    left: 30px;
}
.vector-dot{
    position: absolute;
    top: 425px;
    left: 80px;
}